# vim: set ft=conf:

[default]
dir = {{ papis_library_root }}/library/default

[archive]
dir = {{ papis_library_root }}/library/archive
[doc]
dir = {{ papis_library_root }}/library/doc
[note]
dir = {{ papis_library_root }}/library/note
[workspace]
dir = {{ papis_library_root }}/library/workspace

[settings]
default-library = default
use-git = True
